[submodule "ODForecasting"]
	path = ODForecasting
	url = git@github.com:tsinghua-fib-lab/ODForecasting.git
[submodule "ODPrediction"]
	path = ODPrediction
	url = git@github.com:tsinghua-fib-lab/ODPrediction.git
[submodule "ODConstruction"]
	path = ODConstruction
	url = git@github.com:tsinghua-fib-lab/ODConstruction.git
[submodule "ODEstimation"]
	path = ODEstimation
	url = git@github.com:tsinghua-fib-lab/ODEstimation.git
